---
import { Image } from "astro:assets";


interface Props {
  image: ImageMetadata;
  alt: string; // Alt text for the image
  footer?: string; // Optional footer text;
  flip?: boolean;
}


const { image, alt, footer, flip } = Astro.props as Props;

const mediaClass = flip ? "media media-flip" : "media";
---

<div class={mediaClass}>
    <div class="img">
        <Image src={image} alt={alt} />
    </div>
    <div class="content">
        <slot />
        <!-- Content will be inserted here -->
    </div>
    {footer && <div class="footer">{footer}</div>}
</div>

<style>
    .media {
        display: grid;
        grid-template-columns: fit-content(200px) 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "image content"
            "image footer";
        grid-gap: 20px;
        margin-bottom: 4em;
    }

    .media-flip {
        grid-template-columns: 1fr fit-content(250px);
        grid-template-areas:
            "content image"
            "footer image";
    }

    .img {
        grid-area: image;
        display: flex;
        align-items: center; /* Center the image vertically */
        justify-content: center; /* Center the image horizontally */
    }

    .content {
        grid-area: content;
    }

    .footer {
        grid-area: footer;
    }

    .media img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block; /* important to avoid extra spacing */
    }
</style>
