---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello World!</h1>
			<p>
				That's what they all say at the begininng! Thanks to the team at <a
					href="https://astro.build/">Astro</a
				> for helping me build this site.
			</p>
			<p>
				There will be more to follow in due course but for now, I focus
				on the structure and the About page.
			</p>
			<p>Here are a few ideas on what will follow:</p>
			<ul>
				<li>
					<a href="/blog">Blog content</a> as I attempt to document what
					I have learned in building this and other sites
				</li>
				<li>
					Some thoughts on <a href="/wisdom">Wisdom</a> and on <a href="/glossay">Glossary</a> that I think are relevant and helpful</li>
				<li>
					And a list of projects and other <a href="/projects">things</a> that I am working on.
				</li>
			</ul>
			<p>
				Hopefully what you find here is of some use and you may return looking for more as I build out more content.
			</p>
		</main>
		<Footer />
	</body>
</html>
