---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h4>Bon Mots I have collected along the way</h4>
			<table>
				<tr>
					<th>Saying</th>
					<th>Source</th>
				</tr>
				<tr>
					<td>Experience is the thing you get right after you need it.  [More accurately perhaps "Experience is something you don’t get until just after you need it."]</td>
					<td><a href="https://en.wikipedia.org/wiki/Steven_Wright" target="_blank">Steven Wright</a></td>
				</tr>
				<tr>
					<td>Ever tried.  Ever failed.  No matter.  Try again.  Fail again.  Fail better</td>
					<td><a href="https://en.wikipedia.org/wiki/Worstward_Ho" target="_blank">Samuel Beckett</a></td>
				</tr>
			</table>
		</main>
		<Footer />
		<style>
			main table {
				width: 100%;
				border-collapse: collapse;
				margin: 2em 0;
				font-size: 1em;
			}
			main th, main td {
				padding: 0.75em 1.25em;
				text-align: left;
			}
			main th {
				background: #f4f6fa;
				color: #222939;
				font-weight: 700;
			}
			main tr:nth-child(even) td {
				background: #f8fafc;
			}
			main tr:nth-child(odd) td {
				background: #fff;
			}
			main tr {
				border-bottom: 1px solid #e2e8f0;
			}
			main table {
				border-radius: 8px;
				overflow: hidden;
			}
		</style>
	</body>
</html>
